{% extends 'modul10/base.html' %}

{% block title %}Задание 1{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col fw-bold lh-1 fs-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum in laboriosam mollitia optio provident quis ratione similique tempora vero voluptatum!
        </div>
        <div class="col fst-italic fs-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum in laboriosam mollitia optio provident quis ratione similique tempora vero voluptatum!
        </div>
        <div class="col lh-sm fs-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum in laboriosam mollitia optio provident quis ratione similique tempora vero voluptatum!
        </div>
    </div>
</div>
{% endblock %}